# Enable Bzlmod for every Bazel command
common --enable_bzlmod
common --registry=https://bcr.bazel.build
common --registry=file://%workspace%/registry
common --experimental_repo_remote_exec
common --sandbox_debug